@CHARSET "UTF-8";

body{
	background-color: #000000;
	margin: 0px;
}

a{
	color: #00b1e0;
	text-decoration: none;
}

@font-face{
	font-family: "Good Times";
	src: url(goodtime.ttf);
}

a:hover{
	color: #919191;
}

.main{
	width: 700px;
	margin: 0 auto;
	color: #ffffff;
	margin-top: 100px;
}

.content{
	float: right;
	text-align: right;
	width: 420px;
	margin-left: 80px;
}

#head{
	font-family: "Good Times", sans-serif;
	font-size: 66pt;
	margin-top: 110px;
	margin-bottom: 50px;
}

#big{
	font-family: Georgia, Times, serif;
	font-size: 26pt;
	border-top: solid white 3px;
	border-bottom: solid white 3px;
	padding: 20px 0px;
	margin: 0px;
}

#small{
	font-family: Georgia, Times, serif;
	font-size: 12pt;
	border-bottom: solid white 3px;
	padding: 20px 0px;
	margin: 0px;
}
